﻿body {
	background-attachment: fixed;
	background-position: center top;
	font-size: 1em;
	margin: 0px;
}
td {
	vertical-align: top;
}
table {
	border-collapse: separate;
}
ul {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0px;
	margin-left: 2px;
}
.spoilerBtn {
	cursor: pointer;
}
#kbGlobOverlay, #kbImageOverlay {
	background-color: rgba(0, 1, 2, 0.6);
}
#kbImgFrame, #kbDialog {
	background: transparent;
	border-radius: 0px;
}
#kbDialog {
	padding: 32px;
	max-width: 720px;
	width: 720px;
	word-wrap: break-word;
}
.carouselDiv {
	vertical-align: middle;
	display: none;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	z-index:980;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.carouselDiv .imageWrapper {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.carouselDiv.transitive {
	transition:0.6s;
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
}
.carouselDiv.naturalSize {
	background-size: auto;
}
.carouselImage {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	max-height: 100%;
	max-width: 100%;
}
.ImageOverlayControls {
	display: none;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: transparent;
	z-index:981;
}
.ImageOverlayControls .row2 {
	height: calc(30% - 32px);
}
.ImageOverlayControls .row4 {
	height: 30%;
}
.ImageOverlayControls .scalingBtn, .ImageOverlayControls .closeBtn, .ImageOverlayControls .left, .ImageOverlayControls .right {
	opacity: 0.72;
	cursor: pointer;
	background-color: rgba(0, 1, 2, 0.6);
	background-position: center;
	background-repeat: no-repeat;
}
.ImageOverlayControls .closeBtn:hover, .ImageOverlayControls .left:hover, .ImageOverlayControls .right:hover {
	opacity: 1;
}
.ImageOverlayControls .row1col2 {
	width: calc(100% - 90px);
}
.ImageOverlayControls .row1col1, .ImageOverlayControls .row1col3 {
	width: 14px;
}
.ImageOverlayControls .closeBtn, .ImageOverlayControls .row5 {
	height: 38px;
}
.ImageOverlayControls .row5 {
	vertical-align: middle;
	text-align: center;
}
.ImageOverlayControls .description {
	font-size: 18px;
	color: rgba(255,255,255,0.6);
	background-color: rgba(0,1,2,0.6);
	padding: 2px 24px 2px 24px;
	border-radius: 4px 4px 0px 0px;
}
.ImageOverlayControls .scalingBtn {
	width: 38px;
	background-image: url('../img/imgOverlayScaleNatural.png');
}
.ImageOverlayControls .scalingBtn.naturalSize {
	background-image: url('../img/imgOverlayScaleContain.png');
}
.ImageOverlayControls .closeBtn {
	width: 38px;
	background-image: url('../img/imgOverlayClose_hover.png');
}
.ImageOverlayControls .right, .ImageOverlayControls .left {
	width: 52px;
}
.ImageOverlayControls .left {
	background-image: url('../img/imgOverlayLeft_hover.png');
}
.ImageOverlayControls .right {
	background-image: url('../img/imgOverlayRight_hover.png');
}

.kbСode {
	font-family: Consolas, monospace;
	background-color: rgba(128, 128, 128, 0.15);
}
.kbSpoiler {
	border: 1px solid #ace;
	background-color: #def;
	padding: 4px;
	cursor: pointer;
}
.kbSpoiler:hover {
	background-color: #bdf;
}
.kbSpoiler .plusminus {
	font-family: Consolas, monospace;
}
.kbSpoilerContent {
	display: none;
	border: 1px solid #ace;
	padding: 6px;
}


/*
=== Bootstrap ===
*/
.modal-dialog {
	max-width: 600px;
}
.modal-backdrop.show {
    opacity: 0.6;
}
.modal-body {
	scroll-behavior: smooth;
	overflow-y: auto;
}
